
body {
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}

h2 {
    color: #444;
    margin-bottom: 10px;
}

#buscar {
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.bloqueado {
    background-color: #ce4e4e;
}

.desbloqueado {
    background-color: #58d458;
}